.player-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  min-width: 100vw;
}

.player-inner-container {
  background-color: $light;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  i {
    font-size: 24px;
    margin-top: 20px;
  }
}

.player-general-info {
  display: flex;
  margin-bottom: 15px;
}

.headshot-container {
  width: 200px;
  height: 200px;
  border: 2px $background solid;
  flex-shrink: 0;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.player-info {
  margin-left: 25px;
  font-size: calc(2vh + 10px);

  .bolded {
    font-weight: 600;
  }

  li {
    margin-bottom: 10px;
  }
}
